stages:
  - prepare release
  - build
  - package
  - deploy

.common_scripts: &common_scripts |
  set -e

  if [[ -n "${DEBUG_CI+x}" ]] ; then
    set -x
  fi

  function is_snapshot() {
    # This is compatible way to verify that $CI_COMMIT_TAG is empty or $VERSION contains SNAPSHOT
    [ -z "$CI_COMMIT_TAG" ] || [ -z "${VERSION##*SNAPSHOT*}" ]
  }

  function get_version() {
    jq '.version' -c -r -M package.json | tee version
  }

  export VERSION="$(get_version)"

  function init_git() {
    apt-get update
    apt-get install -y --no-upgrade --no-install-recommends git openssh-client
    mkdir -p ~/.ssh
    chmod 700 ~/.ssh
    echo -e 'Host *\n\tStrictHostKeyChecking no\n\n' > ~/.ssh/config
    eval $(ssh-agent -s) && echo "$GIT_SSH_KEY" | ssh-add -
    git config --global user.email "$GIT_EMAIL"
    git config --global user.name "$GIT_USER"
  }

  function get_git_url() {
    echo $CI_PROJECT_URL | sed 's!https://\([^/]*\)/\(.*\)$!git@\1:\2.git!g'
  }

.release_scripts: &release_scripts |
  function increment_version() {
    current_version_str=$1
    current_date_prefix=$(date '+%y%m.%d.')
    if [[ "$current_version_str" == $current_date_prefix* ]]; then
      # Increment only last part
      current_version_arr=(${current_version_str//./ })
      new_minor=$((current_version_arr[2]+1))
      new_version="${current_date_prefix}${new_minor}"
    else
      # Make new version string
      new_version="${current_date_prefix}0"
    fi

    echo "${new_version}"
  }

  function make_release() {
    git checkout -B "$CI_BUILD_REF_NAME"
    git remote set-url origin "$(get_git_url)"

    new_version="$(increment_version "$VERSION")"
    jq ".version=\"${new_version}\"" package.json > package.json.tmp && mv package.json.tmp package.json

    git commit -am "Released version ${new_version}"
    git push origin "$CI_BUILD_REF_NAME"
    git tag "${new_version}"
    git push origin "${new_version}"
  }

.docker_scripts: &docker_scripts |
  function init_docker() {
    mkdir -p ~/.docker && echo "$DOCKER_AUTH_CONFIG" > ~/.docker/config.json
  }

  function get_other_image_tags() {
    latest_branch_tag="$DOCKER_SNAPSHOT_REGISTRY/$IMAGE_NAME:latest-$CI_COMMIT_REF_NAME"
    if is_snapshot ; then
      echo -n "$latest_branch_tag"
    else
      echo -n "$latest_branch_tag" "$DOCKER_RELEASE_REGISTRY/$IMAGE_NAME:$VERSION"
    fi
  }

  function docker_build() {
    commit_image_name="$DOCKER_SNAPSHOT_REGISTRY/$IMAGE_NAME:$CI_COMMIT_SHA"
    docker build --pull --build-arg version="$VERSION" -t "$commit_image_name" .
    docker push "$commit_image_name"

    for tag in $(get_other_image_tags); do \
      docker tag "$commit_image_name" "$tag"
      docker push "$tag"
    done
  }

  function docker_build_static() {
    commit_image_name="$DOCKER_SNAPSHOT_REGISTRY/$IMAGE_NAME:$CI_COMMIT_SHA-static"
    docker build --pull --build-arg version="$VERSION" -t "$commit_image_name" -f nginx/Dockerfile .
    docker push "$commit_image_name"

    for tag in $(get_other_image_tags); do \
      docker tag "$commit_image_name" "$tag-static"
      docker push "$tag-static"
    done
  }

  export IMAGE_NAME="${IMAGE_NAME-$CI_PROJECT_NAMESPACE/${CI_PROJECT_NAME#docker-}}"


.release_condition: &release_condition
  only:
    refs:
      - test
  except:
    variables:
      - $RELEASE == null

.not_release_condition: &not_release_condition
  except:
    variables:
      - $RELEASE

### stage: prepare-release
##################################################
bump-version:
  <<: *release_condition
  image: node:lts-jessie
  stage: prepare release
  before_script:
    - apt update && apt install -y jq
    - *common_scripts
    - *release_scripts
  script:
    - init_git
    - make_release
  allow_failure: false


### stage: build
##################################################
build-static:
  <<: *not_release_condition
  image: node:lts-jessie
  stage: build
  cache:
    key: ${CI_COMMIT_REF_SLUG}
    paths:
    - node_modules/
    - .yarn
  before_script:
    - apt update && apt install -y jq
    - yarn config set cache-folder .yarn
    - yarn install
    - *common_scripts
  script:
    - yarn build
  only:
    - branches
    - tags
    - web
  artifacts:
    name: static-site
    paths:
      - ./build/
    expire_in: 1 week

### stage: package
##################################################
docker-static:
  <<: *not_release_condition
  image: docker:stable
  stage: package
  before_script:
    - apk add --no-cache bash jq
    - *common_scripts
    - *docker_scripts
  script:
    - init_docker
    - docker_build_static
  only:
    - branches
    - tags
    - web
  dependencies:
    - build-static


docker:
  <<: *not_release_condition
  image: docker:stable
  stage: package
  before_script:
    - apk add --no-cache bash jq
    - *common_scripts
    - *docker_scripts
  script:
    - init_docker
    - docker_build
  only:
    - branches
    - web

### stage: deploy
##################################################
deploy-to-dev:
  <<: *not_release_condition
  cache: {}
  image: dtzar/helm-kubectl:2.14.3
  stage: deploy
  before_script:
    - mkdir -p ~/.kube && echo "$KUBE_CONFIG_DEV" > ~/.kube/config
  script:
    - kubectl rollout restart deployment/ui --namespace=v2t
  variables:
    GIT_STRATEGY: none
  only:
    - test
  dependencies:
    - docker-static
