.guidedBox {
  font-size: 30px;
}

.euiButtonIcon--disabled:focus {
    background-color: transparent;
}

.euiButtonIcon--primary:focus {
    background-color: transparent;
}

.euiStep .euiStep__content {
  font-size: 20px;
  font-style: italic;
  padding-bottom: 50px;
}

.euiStep__circle[class*="complete"] {
  background-color: green;
}


.guidedBoxPersonnummer {
  font-size: 20px; 
}