
$border: 0.5px solid rgba(112, 112, 112, 0.531);

.login-j4 {
  background-color: #041587 !important;
  height: 401px;
  max-width: 378px;

  .euiModalHeader {
    border-bottom-color: rgba(255, 255, 255, 0.71);
  }

  .euiButtonIcon {
    background-color: transparent;

    &__icon {
      color: #FFFFFF;
    }
  }

  .euiTitle {
    color: #FFFFFF;
  }

  .euiModalBody__overflow {
    display: flex;
    flex-direction: column;
    justify-content: center;

    .euiFieldText {
      background-color: transparent !important;
      border: none !important;
      border-bottom: $border !important;
      border-bottom-color: rgba(255, 255, 255, 0.71) !important;
      color: #FFFFFF;

      &::-webkit-input-placeholder {
        color: #FFFFFF;
      }

      &:focus {
        background-image: none !important;
      }
    }
    .euiButton {
      border-radius: 20px !important;
    }
  }
}