body {
    background: black;
}

.mic {
  outline: none;
  cursor: pointer;
  height: 100px; 
  border-radius: 50%;
  margin: 10px;
  padding: 10px;
  /* background-image: linear-gradient(to right top, #f7204b, #f72843, #f7303a, #f63831, #f43f27);  */
  box-shadow: 
    0 0 40px rgb(83, 201, 248),
    0 0 800px rgb(164, 226, 178);
  transition: 300ms;
  background: rgb(2,99,255);
}


.micRecording {
  outline: none;
  cursor: pointer;
  height: 100px; 
  color: white;
  border-radius: 50%;
  margin: 10px;
  padding: 10px;
  /* background-image: linear-gradient(to right top, #f7204b, #f72843, #f7303a, #f63831, #f43f27);  */
  box-shadow: 
    0 0 20px rgb(234, 72, 7),
    0 0 40px  rgb(255, 0, 0),
    0 0 800px rgb(164, 226, 178);
  transition: 300ms;
  background: rgb(234,72,7);
}

.mic:hover {
  box-shadow: 
    0 0 20px rgb(164, 226, 178),
    0 0 40px  rgb(83, 201, 248),
    0 0 800px  rgb(164, 226, 178);
}

.recording{
  background-color: black;
}


.euiProgress--subdued.euiProgress--indeterminate::before {
    background-color:rgb(164, 226, 178);
}

.euiProgress--s {
    height: 4px;
}
.euiProgress {
    position: relative;
    overflow: hidden;
    background-color: rgb(83, 201, 248);
}