
.container {
    border: 1px solid silver;
    width: 650px;
    margin-bottom: 5px;
}

.title {
    padding: 10px
}

.audio-box {
    width: 500px;
    padding: 5px
}

.download-button {
    margin: -40px 0 0 20px
}