.sticky-controls input[type=range] {
  background-color: rgba(0,0,0,.35);
}
.sticky-controls input[type=range]::moz:focus {
    outline: none;
}
/* input:focus, textarea:focus {outline: none;} */

.sticky-controls input[type=range]::-webkit-slider-thumb {
  background: rgba(255,0,0, .35);
}

/* All the same stuff for Firefox */
.sticky-controls input[type=range]::-moz-range-thumb {
  background: rgba(255,0,0, .35);
}

/* All the same stuff for IE */
.sticky-controls input[type=range]::-ms-thumb {
  background: rgba(255,0,0, .35);
}

.sticky-controls .sliderWrapper {
  height: 4px;
}



.euiImage__caption {
  font-size: 30px;
}

.complete{
}

.skip{
}

.reject{
}

.sticky-controls {
  position: sticky;
  top: 0;
  z-index: 9;
}
