input[type=range] {
  background-color: rgba(0,0,0,.35);
}
input[type=range]::moz:focus {
    outline: none;
}
/* input:focus, textarea:focus {outline: none;} */

input[type=range]::-webkit-slider-thumb {
  background: rgba(255,0,0, .35);
}

/* All the same stuff for Firefox */
input[type=range]::-moz-range-thumb {
  background: rgba(255,0,0, .35);
}

/* All the same stuff for IE */
input[type=range]::-ms-thumb {
  background: rgba(255,0,0, .35);
}

.sliderWrapper {
  height: 4px;
}
