.transcript{
    width: 400px;
}

.euiListGroupItem.euiListGroupItem-isActive, .euiListGroupItem.euiListGroupItem-isClickable:hover, .euiListGroupItem.euiListGroupItem-isClickable:focus {
    background-color: #d3d9e2;
}

.euiListGroupItem:hover {
       background-color: #d3d9e2;
}


td{
  padding: 10px;
}

.icdTable {
  font-size: 0.75rem;
  line-height: 1.5;
  font-weight: 600;
}