.transcript{
    width: 350px;
}

.euiListGroupItem.euiListGroupItem-isActive, .euiListGroupItem.euiListGroupItem-isClickable:hover, .euiListGroupItem.euiListGroupItem-isClickable:focus {
    background-color: #d3d9e2;
}

.euiListGroupItem:hover {
       background-color: #d3d9e2;
}



.icdTable {
  font-size: 0.75rem;
  line-height: 1.5;
  font-weight: 600;
}


.selectorBottons {
  margin-left: -25px;
}

.searchCodes{
  display: inline-flex;
}


.euiRadioGroup__item + .euiRadioGroup__item.euiRadio--compressed {
    margin-left: 50px;
}