@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,400i,600,600i&display=swap&subset=latin-ext');
@import url('https://fonts.googleapis.com/css?family=Nunito:300,400,600,600i,800&display=swap&subset=latin-ext');
@import '~@elastic/eui/dist/eui_legacy_light.min.css';

body, #root {
  height: 100%;
}

.euiImage.logo {
  margin-bottom: 5vh;
  padding-right: 20px;
}
.euiTableCellContent {
    padding: 4px;
}

p {
  line-height: 2;
}

.euiPage {
  min-height: 100vh;
  background-image: url("./img/sidebar.png");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 0px;
}

.euiSideNav.AppNavigation {
  max-height: calc(100vh - 25vh);
  overflow-y: auto;
  padding-right: 10px;
}

.euiSideNav.AppNavigation::-webkit-scrollbar {
  width: 3px;
}
.euiSideNav.AppNavigation::-webkit-scrollbar-track {
  background: transparent;
}
.euiSideNav.AppNavigation::-webkit-scrollbar-thumb {
  background-color: #62B4F7;
}

.euiSideNavItemButton__label {
  font-size: 1.3em;
  color: rgb(255,255,255) !important;
  white-space: normal;
  word-break: break-word;
}

.euiSideNavItemButton.euiSideNavItemButton-isSelected .euiSideNavItemButton__label {
  text-decoration: none;
  color: rgb(255,255,255);
  cursor: not-allowed;
}
.euiSideNavItemButton.euiSideNavItemButton-isSelected .euiSideNavItemButton__label:hover {
  text-decoration: none;
  cursor: not-allowed;
}

.euiSideNavItem__items:after {
  background: #fff;
}

.euiSideNavItemButton.euiSideNavItemButton--isClickable:focus {
    background-color: transparent !important;
}

.euiButtonEmpty--danger:focus {
    background-color: transparent;
}

.euiPageSideBar {
    min-width: 200px;
    flex: 0 1;
    margin-top: 24px;
    margin-left: 20px;
    margin-right: 0;
}

.help{
  width: 40px;
  margin-top: -4px;
  cursor: pointer;
}

.sectionHeader, .complicatedSelect {
  max-width: 400px !important;
}

.complicatedSelect div {
  background: #eaeaea !important;
}

.complicatedSelect div div div:hover {
  background: #eaeaea !important;
}

.sectionHeader + *, .complicatedSelect + * {
  margin-top: 10px;
}

.sectionHeader span {
  font-size: 0.75rem;
  color: #2a292c;
  font-weight: 600;
  white-space: normal !important;
}

.complicatedSelect span {
  font-size: 0.85rem;
  font-weight: bold;
}

.fullDiffArea {
  padding-left: 12px;
}

.editorTextArea {
  min-height: 80px;
  width: 100%;
  padding: 12px;
  resize: vertical;
  background-color: #F7F7F7;
  box-shadow: none;
  border-radius: 2px;
  border: 1px solid transparent;
  background-repeat: no-repeat;
  background-size: 0% 100%;
  transition: box-shadow 150ms ease-in, background-image 150ms ease-in, background-size 150ms ease-in, background-color 150ms ease-in;
}

.editorTextArea:hover {
  background-color: #EAEAEA;
}

.editorTextArea:focus, .editorTextArea:focus-within, .editorTextArea:active, .editorTextArea.active {
  background-color: #FFF;
  border: 1px solid #FAFAFA;
  border-bottom: none;
  background-size: 100% 100%;
  background-image: linear-gradient(to top, #076eff, #076eff 1px, transparent 2px, transparent 100%);
}

.pageBody {
  height: 100vh;
  overflow-y: auto;
  scroll-padding-bottom: 150px;
}

.pageBody::-webkit-scrollbar-track {
  background-color: #FFF;
  border: none;
}

.pageBody::-webkit-scrollbar {
  background-color: #FFF;
  width: 7px;
}

.pageBody::-webkit-scrollbar-thumb {
  border-radius: 3px;
  background-color: #C2C2C2;
}

.sidebarBottomButtons {
  position: absolute;
  bottom: 30px;
}

.sidebarBottomButtons .euiButtonEmpty {
  font-size: 1.2em !important;
}

.euiText pre {
  padding: 0 !important;
}

/* EUI overrides */

.euiTitle {
  font-family: 'Nunito', sans-serif !important;
  font-weight: 800 !important;
}
.euiTitle--large {
  color: #041587;
  line-height: 1.20em;
}

.euiButton--primary.euiButton--fill {
  background-color: #076EFF;
  border-color: #076EFF;
}

.euiButton--primary.euiButton--fill:enabled:hover, .euiButton--primary.euiButton--fill:enabled:focus {
  background-color: #0062ed;
  border-color: #0062ed;
}

.euiButton--small {
  border-radius: 14px !important;
  height: 29px !important;
  font-size: 13px !important;
  padding-right: 17px;
  padding-left: 17px;
}

.euiButtonIcon {
  border: none;
  background-color: transparent;
  box-shadow: none !important;
}