.euiImage.logo {
  margin-bottom: 5vh;
}
.euiTableCellContent {
    padding: 4px;
}

p {
  line-height: 2;
}

.euiPage {
  background-image: url("./img/sidebar.png");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 0px;
}

.login{
  padding-top: 35vh;
  padding-left: 39vw;
  width: 100vw;
  height: 100vh;
  background-image: url("./img/sidebar.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.euiSideNavItemButton__label {
  font-size: 1.3em;
  color: rgb(255,255,255);
}

.euiSideNavItemButton.euiSideNavItemButton-isSelected .euiSideNavItemButton__label {
  text-decoration: none;
  color: rgb(255,255,255);
  cursor: not-allowed;
}
.euiSideNavItemButton.euiSideNavItemButton-isSelected .euiSideNavItemButton__label:hover {
  text-decoration: none;
  cursor: not-allowed;
}

.euiSideNavItem__items:after {
  background: #fff;
}

.euiSideNavItemButton.euiSideNavItemButton--isClickable:focus {
    background-color: transparent !important;
}

.euiButtonEmpty--danger:focus {
    background-color: transparent;
}

.euiPageSideBar {
    min-width: 192px;
    flex: 0 1;
    margin-top: 24px;
    margin-left: 20px;
    margin-right: 20px;
}

.euiSideNavItem--trunk > .euiSideNavItem__items {
    width: 50%;
}

.help{
  width: 40px;
  margin-top: -4px;
  cursor: pointer;
}