body, #root {
  height: 100%;
}

.euiImage.logo {
  margin-bottom: 5vh;
}
.euiTableCellContent {
    padding: 4px;
}

p {
  line-height: 2;
}

.euiPage {
  min-height: 100vh;
  background-image: url("./img/sidebar.png");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 0px;
}

.euiSideNavItemButton__label {
  font-size: 1.3em;
  color: rgb(255,255,255) !important;
}

.euiSideNavItemButton.euiSideNavItemButton-isSelected .euiSideNavItemButton__label {
  text-decoration: none;
  color: rgb(255,255,255);
  cursor: not-allowed;
}
.euiSideNavItemButton.euiSideNavItemButton-isSelected .euiSideNavItemButton__label:hover {
  text-decoration: none;
  cursor: not-allowed;
}

.euiSideNavItem__items:after {
  background: #fff;
}

.euiSideNavItemButton.euiSideNavItemButton--isClickable:focus {
    background-color: transparent !important;
}

.euiButtonEmpty--danger:focus {
    background-color: transparent;
}

.euiPageSideBar {
    min-width: 200px;
    flex: 0 1;
    margin-top: 24px;
    margin-left: 20px;
    margin-right: 20px;
}

.euiSideNavItem--trunk > .euiSideNavItem__items {
    width: 50%;
}

.help{
  width: 40px;
  margin-top: -4px;
  cursor: pointer;
}

.euiText pre {
  background: #dde3ed;
  border-radius: 12px;
}

.pageBody {
  height: 100vh;
  overflow-y: auto;
}

.pageBody::-webkit-scrollbar-track {
  background-color: #FFF;
  border: none;
}

.pageBody::-webkit-scrollbar {
  background-color: #FFF;
  width: 7px;
}

.pageBody::-webkit-scrollbar-thumb {
  border-radius: 3px;
  background-color: #C2C2C2;
}

.transcriptEdit .euiFormRow,
.transcriptEdit .euiTextArea {
  max-width: 100% !important;
}

.sidebarBottomButtons {
  position: absolute;
  bottom: 30px;
}

.sidebarBottomButtons .euiButtonEmpty {
  font-size: 1.2em !important;
}