@import '~@patronum/eui/dist/eui_theme_light.css';

body, #root {
  height: 100%;
}

.euiImage.logo {
  margin-bottom: 5vh;
}
.euiTableCellContent {
    padding: 4px;
}

p {
  line-height: 2;
}

.euiPage {
  min-height: 100vh;
  background-image: url("./img/sidebar.png");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 0px;
}

.euiSideNavItemButton__label {
  font-size: 1.3em;
  color: rgb(255,255,255) !important;
  white-space: normal;
  word-break: break-word;
}

.euiSideNavItemButton.euiSideNavItemButton-isSelected .euiSideNavItemButton__label {
  text-decoration: none;
  color: rgb(255,255,255);
  cursor: not-allowed;
}
.euiSideNavItemButton.euiSideNavItemButton-isSelected .euiSideNavItemButton__label:hover {
  text-decoration: none;
  cursor: not-allowed;
}

.euiSideNavItem__items:after {
  background: #fff;
}

.euiSideNavItemButton.euiSideNavItemButton--isClickable:focus {
    background-color: transparent !important;
}

.euiButtonEmpty--danger:focus {
    background-color: transparent;
}

.euiPageSideBar {
    min-width: 200px;
    flex: 0 1;
    margin-top: 24px;
    margin-left: 20px;
    margin-right: 20px;
}

.euiSideNavItem--trunk > .euiSideNavItem__items {
    width: 50%;
}

.help{
  width: 40px;
  margin-top: -4px;
  cursor: pointer;
}

.sectionHeader {
  max-width: 400px !important;
}

.sectionHeader + * {
  margin-top: 10px;
}

.sectionHeader span {
  font-size: 0.75rem;
  color: #2a292c;
  font-weight: 600;
  white-space: normal !important;
}

.fullDiffArea {
  padding-left: 12px;
}

.editorTextArea {
  min-height: 80px;
  width: 100%;
  padding: 12px;
  resize: vertical;
  background-color: #F7F7F7;
  box-shadow: none;
  border-radius: 2px;
  border: 1px solid transparent;
  background-repeat: no-repeat;
  background-size: 0% 100%;
  transition: box-shadow 150ms ease-in, background-image 150ms ease-in, background-size 150ms ease-in, background-color 150ms ease-in;
}

.editorTextArea:hover {
  background-color: #EAEAEA;
}

.editorTextArea:focus, .editorTextArea:focus-within, .editorTextArea:active, .editorTextArea.active {
  background-color: #FFF;
  border: 1px solid #FAFAFA;
  border-bottom: none;
  background-size: 100% 100%;
  background-image: linear-gradient(to top, #076eff, #076eff 1px, transparent 2px, transparent 100%);
}

.pageBody {
  height: 100vh;
  overflow-y: auto;
  scroll-padding-bottom: 150px;
}

.pageBody::-webkit-scrollbar-track {
  background-color: #FFF;
  border: none;
}

.pageBody::-webkit-scrollbar {
  background-color: #FFF;
  width: 7px;
}

.pageBody::-webkit-scrollbar-thumb {
  border-radius: 3px;
  background-color: #C2C2C2;
}

.sidebarBottomButtons {
  position: absolute;
  bottom: 30px;
}
.editableTable {
    table,
    tbody {
        height: 1px;
    }

    td, th {
        border: .25px solid #BBBBBD;
    }

    th {
        border-bottom: none;
    }

    tr:hover
    div:hover {
        background-color: #0000 !important;
    }

    .euiTableCellContent {
        padding: 8px;
    }

    .euiFieldText{
        padding: 0 !important;
        height: 100%;
    }

    .euiTableRow {
        background-color: #F7F7F7;
    }

    .euiTable .euiTableRow-isSelected {
        background-color: #F7F7F7 !important;
    }

    .custom-compress .euiComboBox__inputWrap {
        padding-right: 4px;
    }
}

.sidebarBottomButtons .euiButtonEmpty {
  font-size: 1.2em !important;
}

.euiText pre {
  padding: 0 !important;
}
